@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    background: url('assets/background.png') no-repeat;
    background-size: cover;
}

p{
    font-weight: 100;
}

h3{
    font-weight: 400;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.header-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.header-box img{
    width: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.header-box p{
    font-style: italic;
    margin-top: 5px;
    word-break: normal;
    text-align: center;
}

.buttons-box{
    margin-top: 20px;
}

.button{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    transition: 0.5s;
}

.button:hover{
    background-color: rgba(255, 255, 255, 0.19);
    cursor: pointer;
}

.icon{
    width: 20px;
    margin-right: 5px;
}

.direitos-autorais{
    text-align: center;
}

.desenvolvedor{
    font-size: 12px;
}

@media(max-width:1300px){
    body{
        background-size: auto;
    }
}

@media(max-width:600px){
    body{
        background: url(assets/background-mobile.png);
        background-size:cover;
    }

    .container{
        margin-top: 30%;
    }

    .header-box{
        width: 100%;
    }
}