* {
    box-sizing: border-box;
    margin: 0;
}

body{ 
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container{
    background-color: white;
    width: 100%;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 54px;
}

.imagem-opcoes{
    display: flex;
    margin-right: 25vw;
}

.menu-esquerda{
    display: none;
}

.menu-direita{
    display: none;
}

.imagem-microsoft img{
    height: 23px;
    margin-top: 15px;
}

.opcoes-cabecalho ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.opcoes-cabecalho li{
    padding: 18px;
    padding-right: 2px;
    border: 1px;
    text-decoration: none; 
    font-size: 13px;
}

.opcoes-cabecalho li:hover{
    text-decoration: underline;
}

.buttons ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.buttons li{
    padding: 18px;
    padding-right: 3px;
    border: 1px;
    text-decoration: none; 
    font-size: 13px;
}

.buttons li:hover{
    text-decoration: underline;
}

.seta {
    float: right;
    margin-left: -20px;
    margin-top: 5px;
}

.lupa {
   float: right;
   margin-left: -15px;
   margin-top: -10px;
}

.carrinho {
    float: right;
    margin-left: -20px;
    margin-top: -17px;
}

.usuario {
    float: right;
    margin-left: -20px;
    margin-top: -15px;
}

.centro {
    width: 100%;
}

.imagem-centro{
    width: 100%;
    height: 45%;
    margin: 0;
}

.imagem-centro-hd{
    display: none;
}

.imagem-centro-mobile{
    display: none;
}

.texto-imagem{
    position: absolute;
    top: 13vw;
    left: 8vw;
}

.texto-imagem label{
    color: white;
    font-size: 2.5vw;
}

.texto-imagem p{
    color: white;
    font-size: 16px;
    overflow-wrap: break-word;
    width: 31vw;
    padding-top: 17px;
}

.texto-imagem button{
    background-color: #0067b8;
    color: white;
    border: 1.6;
    border: none;
    padding: 10px;
    border-radius: 2px;
    font-size: 1.1vw;
    margin-top: 25px;
}

.texto-imagem button:hover{
    background-color: #1268a9;
}

.texto-imagem button a{
    text-decoration: none;
    color: white;
}

.botoes-carrossel{
    display: flex;
    justify-content: center;
}

.botoes-carrossel img{
    margin-top: 20px;
    width: 200px;
}

.inferior{
    display: flex;
    justify-content: space-around;
    margin-top: 5vw;
}

.opcoes-inferior{
    display: flex;
    padding: 0;
    list-style: none;
}

.opcoes-inferior div{
    padding-right: 45px;
    display:grid;
}

.microsoft img{
    position: relative;
    left: 40%;
}

.xbox img{
    position: relative;
    left: 35%;
}

.windows img{
    position: relative;
    left: 40%;
}

.microsoft a{
    position: relative;
    top: 45%;
    font-weight:600;
}

.xbox a{
    position: relative;
    top: 45%;
    font-weight:600;
}

.windows a{
    position: relative;
    top: 45%;
    font-weight:600;
}

.dialog-buscar{
    display: none;
}

.dialog-buscar-show{
    position: absolute;
    top: 58px;
    right: 10px; 
}

.dialog-buscar-show input{
    width: 60vw; 
    font-size: 13px;
    border-color: black;
    border-style:initial;
    padding: 7px;
}

.dialog-buscar-show button{
    font-size: 12px;
    padding: 8px;
    background-color: white;
    border-color: black;
    border-style:double;
}

.dialog-novo-item{
    display: none;
}

.dialog-editar-item{
    display: none;
}

.header-dialog{
    display: flex;
    justify-content: space-between;
    margin: 10px; 
    font-size: 25px;
}

.header-dialog input{
    background-color: white; 
    border-color: transparent;
    border-radius: 5px;
    color: #0067b8;
}

.header-dialog input:hover{
    background-color: #529dd7;
    color: white;
    border-color: white;
    border-style:groove;
}

.body-dialog{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
}

.body-dialog input{
    margin-top: 10px;
    background-color: white; 
    border-color: transparent;
    border-radius: 5px;
    color: #0067b8;
    font-size: 20px;
}

.body-dialog input:hover{
    background-color: #3c83b9;
    color: white;
}

.dialog-novo-item-show{
    width: 500px;
    position: fixed;
    top: 20%;
    left: 32%;
    background: linear-gradient(90deg,#529dd7, #3c83b9, #1c71b2, #0067b8);
    border-radius: 10px;
    color: white;
}

.dialog-editar-item-show{
    width: 500px;
    position: fixed;
    top: 20%;
    left: 32%;
    background: linear-gradient(90deg,#529dd7, #3c83b9, #1c71b2, #0067b8);
    border-radius: 10px;
    color: white;
}

.lista-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
}

.lista-conteudo div{
    width: 285px;
    margin-bottom: 25px;
}

.lista-conteudo img{
    width: 285px;
    height: 160px;
}

.lista-conteudo label{
    font-size: 23px;
    font-weight: 600;
}

.lista-conteudo p{
    font-size: 17px;
    word-break: normal;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 15px;
}

.lista-conteudo button{
    border-color: transparent;
    background-color: #0067b8;
    border-radius:10px;
    color: white;
    font-size: 15px;
    padding: 6px;
    margin-right: 10px;
}

.lista-conteudo button:hover{
    background-color: #307fba;
}

.box-adicionar-item{
    position: fixed;
    bottom: 20px;
    left: 85%;
    background-color: #0067b8;
    padding: 12px;
    border-radius:15px; 
    color: white;
    display: flex;
    align-items: center;
}

.box-adicionar-item img{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.box-adicionar-item:hover{
    background-color: #307fba;
}

@media(max-width: 1080px){

    .imagem-microsoft{
        margin-left: 30vw;
    }

    .menu-esquerda{
        display: flex;
        height: 24px;
        width: 24px;
        margin-top: 14px;
    }

    .menu-esquerda img{
        margin-right: 15px;
    }

    .menu-direita{
        display: flex;
        height: 40px;
        margin-top: 8px;
    }

    .opcoes-cabecalho{
        display: none;
    }

    .buttons{
        display: none;
    }

    .botoes-carrossel{
        display: none;
    }

    .imagem-centro{
        display: none;
    }

    .imagem-centro-hd{
        display: flex;
        width: 100%;
    }

    .texto-imagem{
        position: absolute;
        top: 65vw;
        left: 8vw;
    }

    .texto-imagem label{
        color: black;
        font-size: 25px;
    }
    
    .texto-imagem p{
        color: black;
        font-size: 16px;
        overflow-wrap: break-word;
        width: 85vw;
        padding-top: 17px;
    }
    
    .texto-imagem button{
        background-color: #0067b8;
        color: white;
        border: 1.6;
        border: none;
        padding: 10px;
        border-radius: 2px;
        font-size: 1.8vw;
        margin-top: 25px;
    }

    .inferior{
        margin-top: 30vw;
    }
    
    .dialog-novo-item-show{
        left: 25%; 
    }

    .dialog-editar-item-show{
        left: 25%; 
    }

    .lista-conteudo{
        grid-template-columns: 1fr 1fr;
    }

    .box-adicionar-item{
        border-radius: 100px;
        left: 90%;
    }

    .box-adicionar-item img{
        margin-right: 0px;
    }

    .box-adicionar-item p{
        display: none;
    }
}

@media(max-width: 768px){
    .inferior{
        margin-top: 35vw;
        margin-left: 5%;
    }

    .dialog-novo-item-show{
        left: 15vw; 
    }

    .dialog-editar-item-show{
        left: 15vw; 
    }

    .lista-conteudo{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 600px){
    .imagem-microsoft{
        margin-left: 45vw;
    }

    .imagem-centro-hd{
        display: none;
    }

    .menu-esquerda{
        position: relative;
        left: 20vw;
    }

    .menu-direita{
        position: relative;
        right: 15vw;
    }

    .imagem-centro-mobile{
        display: flex;
        width: 100%;
    }

    .texto-imagem{
        position: absolute;
        top: 100vw;
        left: 6vw;
    }

    .texto-imagem button{
        font-size: 4vw;
    }

    .inferior{
        margin-top: 70vw;
    }

    .opcoes-inferior{
        display: block;
        padding: 0;
    }

    .xbox{
        padding-top: 10vw;
    }

    .windows{
        padding-top: 10vw;
    }

    .microsoft img{
        position: relative;
        left: 50%;
    }
    
    .xbox img{
        position: relative;
        left: 50%;
    }
    
    .windows img{
        position: relative;
        left: 50%;
    }
    
    .microsoft a{
        position: relative;
        left: 5vw;
        font-weight:600;
    }
    
    .xbox a{
        position: relative;
        left: 12vw;
        font-weight:600;
    }
    
    .windows a{
        position: relative;
        left: 8vw;
        font-weight:600;
    }

    .dialog-novo-item-show{
        left: 20%;
        width: 350px; 
    }

    .dialog-editar-item-show{
        left: 20%;
        width: 350px; 
    }

    .header-dialog input{
        height: 40px;
    }

    .box-adicionar-item{
        left: 85%;
    }
}

@media(max-width:540px){
    .dialog-novo-item-show{
        left: 15%;
    }

    .dialog-editar-item-show{
        left: 15%;
    }
}

@media(max-width:400px){
    .dialog-novo-item-show{
        left: 3%;
    }

    .dialog-editar-item-show{
        left: 3%;
    }
}